[Desktop Entry]
Name=KPresenter2
Comment=KPresenter 2 backend for UniPresent
X-KDE-ServiceTypes=UniPresent/Backend
Type=Service
X-KDE-Library=unipresent_kpresenter2
