[Desktop Entry]
Name=KPresenter2
Comment=UniPresent backend for KPresenter 2
X-KDE-ServiceTypes=UniPresent/Backend
Type=Service
X-KDE-Library=unipresent_kpresenter2
