[Desktop Entry]
Version=1.0
Type=Application
Name=KWorship
GenericName=Church Projector Controller
Comment=The KDE church projector display system.
TryExec=kworship
Exec=kworship %F
Icon=kworship
MimeType=application/x-kworship+xml;application/x-kworship-archive;
Categories=Qt;KDE;AudioVideo;
