[Desktop Entry]
Version=1.0
Type=Application
Name=KWorship
Comment=The KDE church projector display system.
TryExec=kworship
Exec=kworship %F
Icon=kworship
