<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="KWorship" version="1">
  <MenuBar>
    <Menu name="menuDisplay"><text>&amp;Display</text>
      <Action name="show_main_display" />
      <Action name="display_clear" />
    </Menu>
    <Menu name="menuPresentation"><text>&amp;Presentation</text>
    </Menu>
    <Menu name="menuPlaylist"><text>&amp;Playlist</text>
      <Action name="playlist_insert" />
      <Action name="playlist_delete" />
      <Action name="playlist_move_up" />
      <Action name="playlist_move_down" />
    </Menu>
  </MenuBar>
  <ToolBar fullWidth="false" name="displayToolBar" newline="true"><text>Display Toolbar</text>
    <Action name="display_clear"/>
  </ToolBar>
  <ToolBar fullWidth="false" name="toolbarPlaylist" newline="true"><text>Playlist Toolbar</text>
    <Action name="playlist_insert" />
    <Action name="playlist_delete" />
    <Action name="playlist_move_up" />
    <Action name="playlist_move_down" />
  </ToolBar>
</gui>
