# Misc
*~
*.swp
lib
temp

# Object files
*.o
*.a
*.la
*.so

# CMake
Makefile
CMakeFiles
CMakeCache.txt
CMakeTmp
DartTestfile.txt
cmake_install.cmake
cmake_uninstall.cmake
CTestTestfile.cmake

# Qt MOC
moc_*.cpp
*_automoc.cpp
*_automoc.cpp.files
*.moc

# KDE
ui_*.h
settings.h
settings.cpp
