[Desktop Entry]
Version=1.0
MimeType=application/x-zionworx+xml;
Type=Application
Name=KWorship
GenericName=Church Projector Controller
Comment=The KDE church projector display system.
TryExec=kworship
Exec=kworship %f
Icon=kworship
Categories=Qt;KDE;AudioVideo;
