In order of priority
[X] local display window
[ ] change backgrond colours
[X] very simple playlist
[ ] display song lyrics
[X] background pictures
[X] font outlining
[ ] font shadows
[X] lyric word-wrap
[ ] lyric auto arrangement
[X] preview
[X] nested playlists
[ ] playlist icons for timed, music, video etc
[ ] song database
[ ] playing of audio file
[ ] audio file play information
[ ] autotiming with audio file
[ ] text scrolling
[ ] notice overlays
[ ] notes
[ ] images
[ ] SWORD bible verses
[ ] HTML/CSS style litergy
[ ] kpresenter control
[ ] oo impress control
[ ] video looping in background
[ ] video playing
[ ] video playing in background
[ ] themes
[ ] live video feed in background
[ ] predetermined DVD clip
[ ] subtitles feed (from a shorthander?)
