[Desktop Entry]
Name=BibleGateway.com
Comment=BibleGateway.com bible plugin for KWorship
X-KDE-ServiceTypes=KWorship/Bible
Type=Service
X-KDE-Library=kworship_bible_biblegateway
