[Desktop Entry]
Name=KPresenter1
Comment=KPresenter 1.6 backend for UniPresent
X-KDE-ServiceTypes=UniPresent/Backend
Type=Service
X-KDE-Library=unipresent_kpresenter1
