[Desktop Entry]
Name=KPresenter1
Comment=UniPresent backend for KPresenter 1.6
X-KDE-ServiceTypes=UniPresent/Backend
Type=Service
X-KDE-Library=unipresent_kpresenter1
